{% extends 'store/store.html' %}
{% load static %}

{% block content %}
	<style type="text/css">
		
	</style>
	
	<main class="main">
	    <section class="restaurants">
	        <div class="container">
	        	<h1>Доставка</h1>
	        	<p></p>
	        	<h4>Наш интернет-магазин осуществляет доставку по Львову и регионам Украины:</h4>
	        	<ol>
	        		<li>Новая почта</li>
	        		<li>Самовывоз из нашего пункта выдачи – бесплатно!</li>
	        		<li>Почтовая доставка по Украине в зависимости от адреса доставки.</li>
	        	</ol>
	        	<h4>Сроки доставки:</h4>
	        	<ol>
	        		<li>Самовывоз – на следующий день</li>
	        		<li>Почтовая доставка по Украине – от 1 до 5 дней в зависимости от региона.</li>
	        	</ol>
	        </div>
	    </section>
	</main>
{% endblock content %}