{% extends 'store/store.html' %}
{% load static %}

{% block content %}
	<style type="text/css">
		
	</style>
	
	<main class="main">
	    <section class="restaurants">
	        <div class="container">
	        	<h1>Оплата</h1>
	        	<p></p>
	        	<h4>Вы можете оплатить заказ:</h4>
	        	<ol>
	        		<li>Наличными в пункте выдачи при получении заказа</li>
	        		<li>Банковской картой Visa, Mastercard, Приват 24 через сайт при оформлении заказа</li>
	        	</ol>
	        </div>
	    </section>
	</main>
{% endblock content %}