html,
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body.no-scroll {
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

input {
    border-radius: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.hidden{
	display: none!important;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

/* Header */
.header{
    padding: 44px 0 0;
    margin-bottom: 40px;
    background-color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner .header__user{
    display: flex;
    align-items: center;
}

.header .header__inner .header__logo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header .header__inner .header__logo .header__logo__under h3 {
    margin-top: 5%;
}

.header .header__inner .header__logo .header__logo__under p {
    padding: 0;
    margin-top: -1%;
}

.header__form {
   flex: 0.8;
}
.header__form-input {
    width: 100%;
    background-image: url("/static/image/house.svg");
    background-repeat: no-repeat;
    background-position: left 11px center;
    display: block;
    padding: 7px 0 7px 34px;

    border: 1px solid #D9D9D9;
    border-radius: 2px;

    line-height: 24px;
    font-size: 16px;
}

.header__form-input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #BFBFBF;
}

.button {
    display: inline-block;
    padding: 8px 16px 8px 36px;
    margin-right: 6px;
    line-height: 24px;
    
    color: #fff;

    background-color: #1890FF;
    border-radius: 2px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;

    font-size: 15px;

  

    cursor: pointer;
}
.button:hover {
    background-color: rgb(17, 116, 209);
}

.button--user {
    background-image: url("/static/image/user.svg");
    background-repeat: no-repeat;
    background-position: left 21px center;
}

.button--cart {
    background-color: transparent;
    background-image: url("/static/image/cart.svg");
    background-repeat: no-repeat;
    background-position: left 16px center;

    color: #595959;

    border: 1px solid #D9D9D9;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;

    margin-right: 0;
}
.button--cart:hover {
    background-color: #D9D9D9;
}

.button-cart--shop {
    padding: 8px 14px 8px 16px;
    margin-right: 0;
    display: flex;
    align-items: center;
}
.cards__button-text {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
}

/* promo */

.promo {
    margin-bottom: 56px;
}
.promo__wrapper {
    background-color: #FFF1B8;
    padding: 40px 0px 68px 70px;
    border-radius: 10px;
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background-image: url("/static/image/banner.png");
    background-repeat: no-repeat;
    background-size: 1250px;
}
.promo__content {
    max-width: 455px;
}
.promo__title {
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;

    color: #302C34;
    margin-bottom: 15px;
}
.promo__text {
    font-size: 20px;
    line-height: 28px;


    color: #302C34;
}

.restaurants {
    padding-bottom: 94px;
}
.restaurants__inner {
    display: flex;
    align-items: center;
    padding-bottom: 44px;
}
.restaurants__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-right: 30px;
}
.restaurants__form {
    width: 100%;
    max-width: 306px;
    margin-left: auto;
}

.restaurants__form-input {
    width: 100%;
    display: block;
    padding: 7px 12px 7px 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    background-image: url("/static/image/search.svg");
    background-position: left 11px center;
    background-repeat: no-repeat;
}
.restaurants__form-input::placeholder {
    font-size: 16px;
    line-height: 24px;

    color: #BFBFBF;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-wrap: wrap;
}
.cards__button {
    margin-top: 24px;
    display: flex;
    align-items: center;
}
.cards__button-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 59px;
}
.cards__item {
    width: 100%;
    max-width: 384px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;

    transition: box-shadow 0.2s linear;
    -webkit-transition: box-shadow 0.2s linear;
    -moz-transition: box-shadow 0.2s linear;
    -ms-transition: box-shadow 0.2s linear;
    -o-transition: box-shadow 0.2s linear;
}
.cards__item:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.cards__item-img img {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.cards__item-wrapper {
    padding: 20px 24px 34px 24px;
}

.cards__item:last-child {
    margin-right: 0;
}

.cards__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__user #cart-total{
    display: block;
	text-align: center;
	color:#fff;
	background-color: black;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.item__header-link {
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.item__header-link--reg {
    font-weight: 400;
}
.item__header-link:hover {
    text-decoration: underline;
}
.item__header-time {
    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;

    color: #fff;
    background-color: #262626;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.cards__item-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.item__info-rating {
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    margin-right: 26px;

    color: #FFC107;
}
.item__info-price {
    font-size: 18px;
    line-height: 32px;

    color: #8C8C8C;
    margin-right: 25px;
}
.item__info-category {
    position: relative;
    font-size: 18px;
    line-height: 32px;
    text-overflow: ellipsis;
    overflow: visible;
    white-space: nowrap;
    max-width: 150px;

    color: #8C8C8C;
}
.item__info-category--shop {
    text-overflow: none;
    overflow: visible;
    white-space: wrap;
}

.item__info-ingredietns {
    font-size: 18px;
    line-height: 21px;

    color: #8C8C8C;
}

.item__info-category::before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: -14px;
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

}
/*  footer */

.footer {
    padding: 60px 0; 
    background-color: #fff;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left-side {
    display: flex;
    align-items: center;
}
.footer__logo {
    margin-right: 35px;
}

.footer__help {
    display: flex;
}

.footer__help li {
    list-style: none;
}


.footer__help-link {
    font-size: 18px;
    text-decoration: none;
    line-height: 21px;
    margin-right: 15px;

    color: #595959;
}
.footer__help-link:hover {
    text-decoration: underline;
}
.footer__right-side {
    display: flex;
    align-items: center;
}
.footer__social {
    text-decoration: none;
    margin-left: 21px;

    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    -moz-transition: transform 0.2s linear;
    -ms-transition: transform 0.2s linear;
    -o-transition: transform 0.2s linear;
}
.footer__social:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}


.modal.active {
    display: flex;
}

.modal-dialog {
    width: 95%;
    max-width: 780px;
    margin: auto;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 45px;
}
.modal-user__dialog {
    max-width: 550px;
}
.modal-header {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}
.modal__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}
.modal__close {
    border: none;
    background-color: transparent;
    font-size: 36px;
    cursor: pointer;
}
.modal__body {
   margin-bottom: 52px;
}

.food-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 8px;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.food-row__name {
    font-size: 18px;
    line-height: 32px;
}
.food-row__price {
    margin-left: auto;
    margin-right: 47px;
    font-size: 20px;
    line-height: 32px;
}
.counter__num {
    line-height: 24px;
}
.food-row__counter {
    display: flex;
    align-items: center;
}
.counter__num {
    font-size: 16px;
    line-height: 24px;
    margin: 0 10px;
}
.counter__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #40A9FF;
    background-color: transparent;
    width: 39px;
    height: 32px;
    color: #40A9FF;
    font-size: 14px;
    line-height: 22px;

    border-radius: 2px;
    cursor: pointer;
}

.modal__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal__footer-total-price {
    padding: 15px 20px;
    background: #262626;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;

    color: #FAFAFA;
}
.button-modal--order {
    padding: 8px 14px 8px 14px;
}
.button-modal--cancel {
    background-color: transparent;
    border: 1px solid #D9D9D9;
    padding: 8px 16px 8px 16px;
    color: #595959;
}
.button-modal--cancel:hover {
    background-color: #D9D9D9; 
}

.button-modal--user {
    padding: 8px 16px 8px 14px;
}

.modal-user__dialog .modal-header {
    margin-bottom: 30px;
}

.modal-form__email {
    margin-bottom: 20px;

}
.form-label {
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    
}
.modal-form__input {
    animation-name: fadeInUp;
    animation-fill-mode: linear;
    position: relative;
    display: block;
    width: 100%;
    max-width: 320px;
    padding: 5px 10px;

    border: none;
    border-bottom: 2px solid #302C34;

    transition: border 0.2s linear;
    -webkit-transition: border 0.2s linear;
    -moz-transition: border 0.2s linear;
    -ms-transition: border 0.2s linear;
    -o-transition: border 0.2s linear;
}


.modal-form__input:focus {
    outline: none;
    border-bottom: 2px solid rgb(57, 189, 75);

}

@keyframes fadeInUp {

    0% {
        transform: translateY(2000px);
        -webkit-transform: translateY(2000px);
        -moz-transform: translateY(2000px);
        -ms-transform: translateY(2000px);
        -o-transform: translateY(2000px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}

}

.modal-form__password {
    margin-bottom: 20px;
}